In [1]:
import pandas as pd
import re

In [3]:
dracula_df = pd.read_csv('dracula.txt', sep='\n', header=None)
dracula_df.columns = ['text']
dracula_df

                                                    text
0                                                DRACULA
1                                                DRACULA
2                                                   _by_
3                                            Bram Stoker
4                               [Illustration: colophon]
...                                                  ...
10618  proofs of so wild a story. Van Helsing summed ...
10619                             our boy on his knee:--
10620  We want no proofs; we ask none to believe us! ...
10621                                   JONATHAN HARKER.
10622                                            THE END

[10623 rows x 1 columns]

In [5]:
# regular expression to find the most common word that follows “vampire” in the text
p = "vampire\\W+(\\w+)"
dracula_df['text'].str.extractall(p, flags=re.I)[0].value_counts()

s          3
sleep      3
and        2
in         2
is         1
live       1
So         1
of         1
to         1
These      1
can        1
baptism    1
meant      1
coming     1
_Mem       1
Why        1
kind       1
which      1
was        1
though     1
when       1
Name: 0, dtype: int64

In [ ]:
# Q17-19
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine

from flask import Flask, jsonify

engine = create_engine("sqlite:///titanic.sqlite")
Base = automap_base()
Base.prepare(engine, reflect=True)

Passenger = Base.classes.passenger

app = Flask(__name__)

@app.route("/")
def welcome():
   """List all available api routes."""
   return (
       f"Available Routes:<br/>"
       f"/api/v1.0/names<br/>"
       f"/api/v1.0/passengers"
   )

@app.route("/api/v1.0/names")
def names():
   """Return a list of all passenger names"""
   # Query all passengers
   session = Session(engine)
   results = session.query(Passenger.name).all()

   # Convert list of tuples into normal list
   all_names = list(np.ravel(results))

   return jsonify(results)

@app.route("/api/v1.0/passengers")
def passengers():
   """Return a list of passenger data including the name, age, and sex of each passenger"""
   # Query all passengers
   session = Session(engine)
   results = session.query(Passenger.name, Passenger.age, Passenger.sex).all()

   # Create a dictionary from the row data and append to a list of all_passengers
   all_passengers = []
   for name, age, sex in results:
       passenger_dict = {}
       passenger_dict["name"] = name
       passenger_dict["age"] = age
       passenger_dict["sex"] = sex
       all_passengers.append(passenger_dict)

   ### Return list of all passenger data in JSON format ###

if __name__ == '__main__':
   app.run(debug=True)

In [ ]:
# Q14#

In [6]:
from sqlalchemy import create_engine
import pandas as pd

# Path to sqlite, THIS MAY NOT MATCH YOUR PATH
database_path = "C:/Users/eshen/Desktop/my working repo/Database assessment/Census_Data.sqlite"

# Create an engine that can talk to the database
engine = create_engine(f"sqlite:///{database_path}")
conn = engine.connect()

In [ ]:
# use Pandas to import the Census_Data table into a DataFrame
census_df=pd.read_table

In [7]:
data = engine.execute("SELECT * FROM dow")

for record in data:
    print(record)

NameError: name 'inspect' is not defined

In [ ]:
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine

from flask import Flask, jsonify

engine = create_engine("sqlite:///titanic.sqlite")
Base = automap_base()
Base.prepare(engine, reflect=True)

Passenger = Base.classes.passenger

app = Flask(__name__)

@app.route("/")
def welcome():
   """List all available api routes."""
   return (
       f"Available Routes:<br/>"
       f"/api/v1.0/names<br/>"
       f"/api/v1.0/passengers"
   )

### Create an endpoint for names ###

if __name__ == '__main__':
   app.run(debug=True)