In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('CTA_list_of_L_stops.csv')
print(df.columns.tolist())
# find the number of unique stations by MAP_ID.

df2 = df.groupby('MAP_ID')
len(df2.first())
print(df2.first().count()['STOP_ID'])

['STOP_ID', 'DIRECTION_ID', 'STOP_NAME', 'STATION_NAME', 'STATION_DESCRIPTIVE_NAME', 'MAP_ID', 'ADA', 'RED', 'BLUE', 'G', 'BRN', 'P', 'Pexp', 'Y', 'Pnk', 'O', 'Location']
143

In [3]:
l_stops_df = pd.read_csv('CTA_list_of_L_stops.csv')
station_bools = l_stops_df[['MAP_ID','ADA','RED','BLUE','G','BRN','P','Pexp','Y','Pnk','O']].groupby('MAP_ID').any()
l_stations_df = l_stops_df[['MAP_ID','STATION_NAME','STATION_DESCRIPTIVE_NAME','Location']] \
    .merge(station_bools, how='left', left_on='MAP_ID', right_index=True).drop_duplicates()
l_stations_df.columns= l_stations_df.columns.str.lower()
l_stations_df.rename(columns={'station_name':'stationname'}, inplace=True)
l_stations_df

,map_id,stationname,station_descriptive_name,location,ada,red,blue,g,brn,p,pexp,y,pnk,o
0,40830,18th,18th (Pink Line),"(41.857908, -87.669147)",True,False,False,False,False,False,False,False,True,False
2,40120,35th/Archer,35th/Archer (Orange Line),"(41.829353, -87.680622)",True,False,False,False,False,False,False,False,False,True
4,41120,35th-Bronzeville-IIT,35th-Bronzeville-IIT (Green Line),"(41.831677, -87.625826)",True,False,False,True,False,False,False,False,False,False
6,41270,43rd,43rd (Green Line),"(41.816462, -87.619021)",True,False,False,True,False,False,False,False,False,False
8,40130,51st,51st (Green Line),"(41.80209, -87.618487)",True,False,False,True,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
286,40220,Western,Western (Blue Line - Forest Park Branch),"(41.875478, -87.688436)",False,False,True,False,False,False,False,False,False,False
289,41690,Cermak-McCormick Place,Cermak-McCormick Place (Green Line),"(41.853115, -87.626402)",True,False,False,True,False,False,False,False,False,False
291,40540,Wilson,Wilson (Red & Purple Lines),"(41.964273, -87.657588)",True,True,False,False,False,False,True,False,False,False
292,41700,Washington/Wabash,"Washington/Wabash (Brown, Green, Orange, Purpl...","(41.88322, -87.626189)",True,False,False,True,True,False,True,False,True,True
293,41240,Addison,Addison (Blue Line),"(41.94738, -87.71906)",True,False,True,False,False,False,False,False,False,False

In [4]:
l_stations_df[['latitude','longitude']] = \
   l_stations_df['location'].str.replace('\(|\)','',regex=True) \
   .str.split(',', expand=True).apply(pd.to_numeric)
l_stations_df.drop('location', axis=1, inplace=True)
l_stations_df

,map_id,stationname,station_descriptive_name,ada,red,blue,g,brn,p,pexp,y,pnk,o,latitude,longitude
0,40830,18th,18th (Pink Line),True,False,False,False,False,False,False,False,True,False,41.857908,-87.669147
2,40120,35th/Archer,35th/Archer (Orange Line),True,False,False,False,False,False,False,False,False,True,41.829353,-87.680622
4,41120,35th-Bronzeville-IIT,35th-Bronzeville-IIT (Green Line),True,False,False,True,False,False,False,False,False,False,41.831677,-87.625826
6,41270,43rd,43rd (Green Line),True,False,False,True,False,False,False,False,False,False,41.816462,-87.619021
8,40130,51st,51st (Green Line),True,False,False,True,False,False,False,False,False,False,41.802090,-87.618487
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
286,40220,Western,Western (Blue Line - Forest Park Branch),False,False,True,False,False,False,False,False,False,False,41.875478,-87.688436
289,41690,Cermak-McCormick Place,Cermak-McCormick Place (Green Line),True,False,False,True,False,False,False,False,False,False,41.853115,-87.626402
291,40540,Wilson,Wilson (Red & Purple Lines),True,True,False,False,False,False,True,False,False,False,41.964273,-87.657588
292,41700,Washington/Wabash,"Washington/Wabash (Brown, Green, Orange, Purpl...",True,False,False,True,True,False,True,False,True,True,41.883220,-87.626189
293,41240,Addison,Addison (Blue Line),True,False,True,False,False,False,False,False,False,False,41.947380,-87.719060

In [5]:
ridership_df = pd.read_csv('CTA_ridership_daily_totals.csv')
ridership_df

        station_id             stationname        date daytype  rides
0            40050                   Davis    1/1/2016       U   1415
1            41200                  Argyle    1/1/2016       U   1741
2            40970      Cicero-Forest Park    1/1/2016       U    722
3            40490         Grand/Milwaukee    1/1/2016       U   1700
4            41130          Halsted-Orange    1/1/2016       U    764
...            ...                     ...         ...     ...    ...
258104       41660              Lake/State  11/30/2020       W   2945
258105       41670            Conservatory  11/30/2020       W    412
258106       41680           Oakton-Skokie  11/30/2020       W    191
258107       41690  Cermak-McCormick Place  11/30/2020       W    373
258108       41700       Washington/Wabash  11/30/2020       W   2041

[258109 rows x 5 columns]

In [24]:
# use the pandas to_sql() method to load the l_stations_df and ridership_df DataFrames into PostgreSQL tables.
from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres:password@localhost:5432/cta_db')
l_stations_df.to_sql(name='stations', con=engine, index=False)
ridership_df.to_sql(name='ridership', con=engine, index=False)

In [21]:
# Using pandas, calculate the number of total daily rides for stations on the South side
# df = pd.merge(ridership_df,l_stations_df[['stationname','Target_Column']],on='Key_Column', how='left')
mergedf = ridership_df[['stationname','date','rides']].merge(l_stations_df[['stationname','latitude']], on = 'stationname',how = 'left')
mergedf = mergedf[mergedf['latitude'].notna()]
mergedf

                   stationname        date  rides   latitude
0                        Davis    1/1/2016   1415  42.047710
1                       Argyle    1/1/2016   1741  41.973453
8                       Linden    1/1/2016    266  42.073153
10                    Sedgwick    1/1/2016   1510  41.910409
11                      Foster    1/1/2016    223  42.054160
...                        ...         ...    ...        ...
258101                Harrison  11/30/2020    486  41.874039
258105            Conservatory  11/30/2020    412  41.884904
258106           Oakton-Skokie  11/30/2020    191  42.026243
258107  Cermak-McCormick Place  11/30/2020    373  41.853115
258108       Washington/Wabash  11/30/2020   2041  41.883220

[126938 rows x 4 columns]

In [22]:
mergedf.query("latitude <= 41.881")['rides'].sum()

130138180

In [26]:
df = pd.merge(ridership_df, l_stations_df, how='left', left_on='station_id', right_on='map_id')
df[df['latitude'] < 41.881]['rides'].sum()

275328019

In [27]:
from sqlalchemy import create_engine
import pandas as pd

# Path to sqlite, THIS MAY NOT MATCH YOUR PATH
database_path = "../Resources/Census_Data.sqlite"

# Create an engine that can talk to the database
engine = create_engine(f"sqlite:///{database_path}")
conn = engine.connect()

OperationalError: (sqlite3.OperationalError) unable to open database file
(Background on this error at: http://sqlalche.me/e/14/e3q8)